<!-- Navigation Header Component -->
<header>
    <nav class="navbar">
        <div class="logo">
            <h1>Gabi Yoga</h1>
        </div>
        <ul class="nav-links">
            <li><a href="index.html#home">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="index.html#contact">Contact</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
